@import 'reset';

// 변수
$text-color-dark: #000;
$text-color-mid: #444;
$main-color: #ED6C30;
$h2-size: 22px;

body {
    text-align: center;
    font-size: 16px;
    background-color: black;
    max-width: 600px;
    margin: 0 auto;
}

section {
    background-color: #fff;
}

p {
    line-height: 1.8;
    color: $text-color-mid;
}

section h2 {
    font-size: $h2-size;
}

#title {
    // background-color: #ECC5BB;
    height: 100vh;
    position: relative;

    // video {
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     width: 100%;
    //     height: 100vh;
    //     object-fit: cover;
    //     // 블랜딩: 이미지 합성기능(포토샵 블랜딩 모드 참고)
    //     // mix-blend-mode: lighten;
    // }

    header {
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .date {
            font-size: 2em;
            font-weight: 800;
            margin-bottom: 8px;
        }
    }

    .photo {
        height: 52vh;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .title_anim {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            // 블랜딩: 이미지 합성기능(포토샵 블랜딩 모드 참고)
            // mix-blend-mode: lighten;
        }
    }

    .bottom {
        height: 28vh;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 18px;
            margin-bottom: 15px;
            font-weight: 800;

            span {
                font-weight: 400;
            }
        }
    }

}

#intro {
    border-top: 1px solid #ccc;
    padding-top: 50px;
    padding-bottom: 100px;

    p {
        margin-top: 30px;

        b {
            color: $main-color;
        }
    }
}

#invitation {
    padding-bottom: 65px;
    text-align: center;

    b {
        color: $main-color;
    }

    h2 {
        margin-bottom: 10px;
    }

    .invit-text {
        margin-bottom: 50px;
    }

    img {
        width: 100%;
        height: 190px;
        object-fit: cover;
        margin-bottom: 20px;
    }

    ul {
        li {
            margin-bottom: 5px;
        }

        small {
            color: #666;
        }
    }

    .btn {
        margin: 0 auto;
        margin-top: 26px;
        padding: 6px 2em;
        border-radius: 50px;
        width: 160px;
        display: inline-block;
        border: 1px solid $text-color-mid;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $text-color-mid;
        font-family: 'Noto Sans KR', sans-serif;

        span {
            margin-left: 10px;
        }
    }
}

#calendar {
    background-color: #ecf0f1;
    padding: 50px 15px;

    h2 {
        margin-bottom: 9px;
    }

    table {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 20px 0;
        margin-top: 24px;
        width: 100%;

        .red {
            color: red;
        }

        th,
        td {
            padding: 4px 10px;
        }

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            // 가로 세로 정사각형 비율 강제(가변일 때)
            aspect-ratio: 1/1;
        }

        .the-day {
            span {
                background-color: $text-color-mid;
                border-radius: 50%;
                color: white;
            }
        }
    }

    .time-info {
        margin: 30px 0 10px;
        // .day-box::after {
        //     content: ":";
        // }        
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            display: block;
            padding-bottom: 10px;
        }

        .day-box {
            padding: 0 15px;
        }

        .hour-box {
            padding: 0 15px;
        }

        .min-box {
            padding: 0 15px;
        }

        .sec-box {
            padding: 0 15px;
        }
    }

    .day-text {
        color: $main-color;
    }
}

#gallery {
    padding: 80px 15px;

    h2 {
        margin-bottom: 20px;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 5px 4px;

        li {
            $단수: 3;
            width: calc((100% - 8px) / $단수);

            // width: calc((100% - 8px) / 3);
            img {
                width: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
                display: block;
            }
        }
    }
}

#location {
    padding: 0 15px;

    h2 {
        font-weight: 700;
        margin-bottom: 20px;
    }

    address {
        font-style: normal;

        b {
            padding-bottom: 10px;
            display: inline-block;
        }

        span {
            color: #666;
        }

        iframe {
            margin-top: 20px;
        }

        dl {
            text-align: left;
            margin-top: 30px;

            dt {
                font-weight: 700;
                padding-bottom: 0.6em;
                margin-top: 30px;
            }

            dd {
                font-size: 14px;
                color: #444;
                line-height: 20px;
                padding-bottom: 0.4em;
            }
        }
    }
}

#guide {
    padding: 86px 15px 0 15px;

    h2 {
        padding-bottom: 20px;
    }

    .tab-group {
        display: flex;

        a {
            width: 50%;
            padding: 5px;
            color: #000;
            border: 1px solid #ECF0F1;
            border-radius: 6px 6px 0 0;
            background-color: #ECF0F1;
            border-bottom: none;
            &.active {
                background-color: #fff;
            }
        }       
    }

    .tab-contents {
        padding: 33px 14px;
        border-left: 1px solid #ECF0F1;
        border-bottom: 1px solid #ECF0F1;
        border-right: 1px solid #ECF0F1;
        .content {
            display: none;
            &.active {
                display: block;
                // active일때 콘텐츠 보임
            }
        }
    }
}

#congra {
    padding: 80px 15px 40px;

    h2 {
        margin-bottom: 20px;
    }

    h3 {
        background-color: #ededed;
        padding: 8px 10px;
        margin-bottom: 10px;
    }

    .bank-number-box1 {
        .info-box {
            span {
                display: block;
            }
        }
    }

    .bank-number-box2 {
        .info-box {
            span {
                display: block;
            }
        }
    }
}